<div class="navbar">
  <div class="title">
    <h2>Instasnake</h2>
  </div>

  <div class="logo-in-right-navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%=image_tag "amour.png"%>
      <%= image_tag "send.png", class: "send-css"%>
    <% end %>
  </div>
</div>
